.top {
  width: '100%';
  background-color:white;
  align-items: center;

}
.topbar {
  width: '100%';
  height: 35px;
  background-color:#001529;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20%;
}
.back-top{
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color:#1088e9;
  color: #fff;
  text-align: center;
  font-size: 14px;
}
@media only screen and (max-width:750px){
  .search{
    padding-bottom: 20px;
  }
  .logo>span{
    display:none;
  }
 
}