.imgCarousel{
   width: 100%;
   height:400px;
 
}
.contentHome{
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.itemProduct{
    width:240px;
    border-radius: 10px;
}
@media only screen and (max-width:1200px){
    .productRelate{
        display:none
    }
}
@media only screen and (max-width:600px){
    .imgCarousel{
        width: 100%;
        height:180px; 
        resize: cover;
    }
    .topbar{
        height:35px;
    }
    .topbar>span{
        font-size: 12px;
        margin-left: -10%;
    }
    .itemProduct{
        width:150px
    }
    
}