.empty{
    height:400px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.wrapper-menu-product{
    padding:50px 100px;
}
.wrapper-category-product{
    padding:50px 100px;
}
.title-card-product{
    color:black
}
.title-card-product:hover{
    color:#5142FC
}
@media only screen and (max-width:1024px) {
    .wrapper-menu-product{
        padding:50px 30px;
    }
    .wrapper-category-product{
        padding: 50px 30px;
    }
}